<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="艾诺迪亚4 QOL改动"
        android:description="@string/module_description"
        android:usesCleartextTraffic="true">
    </application>

</manifest>
